body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
